@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Basketball is Fun</h1>
    <a href="/Fixtures"><h4>View all Fixtures</h4></a>
    <a href="/Upcoming"><h4>View Upcoming Fixtures</h4></a>
</div>
